
.Text1 {
    font-family: Garamond, "Times New Roman",  serif; font-size: 100%;
    font-weight: bold;
    color: red;
}
.link {
    color: green;
    background-color: none;
    text-decoration: underline;
}
.body1 {
    background: lightcyan;}
